# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac OS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo
tests/
# Data & Notebooks
data/
*.parquet
*.csv
!kaggle_jobs/replay_minify/orbit_wars_current_leaderboard.csv
*.json
!kaggle_jobs/replay_minify/kernel-metadata.json


# Kaggle Temporary Orchestrator Directories
kaggle_runner_tmp_*/
kaggle_jobs_tmp_*/
